.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.review-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffdc41;
}

.review-card:nth-child(even) {
  background-color: #91c1d5;
}

.review-card:nth-child(8n+5),
.review-card:nth-child(8n+7) {
  background-color:#91c1d5;
}

.review-card:nth-child(8n+6),
.review-card:nth-child(8n+8) {
  background-color: #ffdc41;
}

.review-card__header {
  background-color: var(--color-dark-blue);
  color: var(--color-yellow);
  padding: 0.313rem;
  justify-content: space-between;
  flex-shrink: 0;
  text-align: center;
  font-weight: 900;
}

.review-card__content {
  padding: 0.5rem;
  font-size: 0.75rem;
  flex-grow: 1;
  overflow: visible;
  line-height: 1.7;
  font-weight: 600;
}

.review-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 40px solid transparent;
  border-image: url('../img/frame1.png') 40 round;
  border-radius: 45px;
}

.review-card:nth-child(even) .review-card__image {
  border-image: url('../img/frame2.png') 40 round;
}

.review-card:nth-child(8n+5) .review-card__image,
.review-card:nth-child(8n+7) .review-card__image {
  border-image: url('../img/frame2.png') 40 round;
}

.review-card:nth-child(8n+6) .review-card__image,
.review-card:nth-child(8n+8) .review-card__image {
  border-image: url('../img/frame1.png') 40 round;
}


.review-header {
  margin-block: 10px;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  height: 50px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    color: var(--color-yellow);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 900;

  }
}

.review {
  background: #91C1D5;
  background: linear-gradient(47deg, rgba(145, 193, 213, 1) 0%, rgba(246, 218, 77, 1) 50%, rgba(145, 193, 213, 1) 88%);
  flex: 1;
}