.tabs {
  background-image: url(''); // Сделать тут Фон сверху
}
.diary__tabs {
  display: flex;
  position: relative;
  margin-left: 3.125rem;
  z-index: 2;
}

.diary__tabs-item {
  width: 4.375rem;
  height: 4.375rem;
  background-image: url('/diary/img/');  // Сделать тут бумажки
  background-size: cover;
  margin-right: -0.75rem;
  margin-bottom: -0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--color-text-dark);
  cursor: url("../cursor/Crosshair.cur"), auto;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease;
}

.diary__tabs-item .tab-icon {
  width: 3.75rem;
  height: auto;
  margin-left: 0.313rem;
}

.diary__tabs-item--active {
  z-index: 3;
  transform: translateY(1.25rem);
}
