:root {
  --color-bg: #f2efe7;
  --color-dark: #333333;
  --color-dark-alt: #555555;
  --color-light: #eeeeee;
  --color-border: #cccccc;
  --color-text-dark: #222222;
  --color-text-light: #777777;

  --font-family-base: 'Indie Flower', cursive;
}