@media (max-width: 768px) {
  .diary__content {
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .page_header {
    width: 50%;
    margin-left: -1rem;
  }
}

@media (max-width: 576px) {
  .review-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 768px) {
  .page__radio {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .page__radio-left,
  .page__radio-right {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .belten__desc {
    column-count: 1;
  }

  .belten__desc img {
    margin-right: 10px;
  }
}