@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Akrobat";
  src: url("/diary/fronts/Akrobat-ExtraBold.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("/diary/fronts/Akrobat-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-black: #000000;
  --color-dark-blue: #26315b;
  --color-yellow: #fde803;
  --color-red: #ff0000;
  --font-family-base: "Akrobat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  overflow-y: auto;
  background-image: url(/diary/img/Texturelabs_Paper_361M.jpg);
}

html {
  cursor: url("/diary/cursor/Iron_Sword_Normal.cur"), auto;
}

a:hover {
  cursor: url("/diary/cursor/Crosshair.cur"), auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Трек (фон) */
::-webkit-scrollbar-track {
  background: #1c303b;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 10px;
  border: 1px solid #1c303b;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.diary__content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  line-height: 1.9;
  font-size: 20px;
}

.padding-20 {
  padding: 20px 30px;
}

.diary__page {
  display: flex;
  flex-direction: column;
  border-right: 4px solid rgba(0, 0, 0, 0.3568627451);
  border-top: 2px solid rgba(54, 54, 54, 0.6901960784);
}
.diary__page:last-child {
  border-right: none;
}
.diary__page-date {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 20px;
  color: var(--color-text-dark);
}
.diary__page-img--portrait {
  max-width: 200px;
  padding: 7.5px;
  margin: 40px;
}
.diary__page-img--rotate-left {
  float: left;
  transform: rotate(-20deg);
}
.diary__page-img--rotate-right {
  float: right;
  transform: rotate(20deg);
}
.diary__page-ad {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.diary__page-ad img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.page_header {
  margin-bottom: 10px;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  width: 35%;
  height: 50px;
  margin-left: -30px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.page_header__inner {
  display: flex;
  align-items: center;
}
.page_header__title {
  font-size: 22px;
  color: var(--color-yellow);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.page_header__icon {
  font-size: 22px;
}

.tabs {
  background-image: url("https://texturelabs.org/wp-content/uploads/Texturelabs_LensFX_243S.jpg");
}

.diary__tabs {
  display: flex;
  position: relative;
  margin-left: 50px;
  z-index: 2;
}

.diary__tabs-item {
  width: 70px;
  height: 70px;
  background-image: url("/diary/img/");
  background-size: cover;
  margin-right: -12px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #333;
  cursor: url("/diary/cursor/Crosshair.cur"), auto;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease;
}

.diary__tabs-item .tab-icon {
  width: 60px;
  height: auto;
  margin-left: 5px;
}

.diary__tabs-item--active {
  z-index: 3;
  transform: translateY(20px); /* Спускается вниз */
}

.page_navigation {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  z-index: 1000;
}

.page_navigation-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s ease;
}

.page_navigation-button:hover {
  background-color: #222;
}

.page_navigation-info {
  align-self: center;
  font-weight: bold;
  font-family: monospace;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}

.review-card {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  background-color: #9fc0d3;
  display: flex;
  flex-direction: column;
}
.review-card__header {
  background-color: var(--color-dark-blue);
  color: var(--color-yellow);
  padding: 5px;
  justify-content: space-between;
  flex-shrink: 0;
  text-align: center;
  font-weight: 900;
}
.review-card__content {
  padding: 8px;
  font-size: 12px;
  flex-grow: 1;
  overflow: visible;
  line-height: 1.7;
  font-weight: 600;
}
.review-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  display: block;
}

.page__radio {
  height: auto; /* пусть контент сам задаёт высоту */
  min-height: 100%; /* если нужно, чтобы минимум совпадал с родителем */
  display: flex;
  flex-direction: row;
}
.page__radio-left {
  width: 50%;
  margin-right: 10px;
}
.page__radio-right {
  width: 50%;
  background: linear-gradient(to bottom, #ffffff, #fcf399, #fcf397);
}

.page__radio-left {
  display: flex;
  flex-direction: column;
}
.page__radio-left .playlist {
  flex: 1;
}

.chart {
  background-color: var(--color-yellow);
  color: var(--color-black);
  margin-top: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
}
.chart__header {
  font-size: 24px;
  font-weight: 800;
  margin: 0 0 15px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
}
.chart__logo-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px dashed var(--color-black);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  text-align: center;
}
.chart-table {
  text-align: left;
}
.chart-table-wrapper {
  border: 3px solid var(--color-black);
}
.chart-table-wrapper .chart-table {
  width: 100%;
  border-collapse: collapse;
}
.chart-table-wrapper .chart-table__head {
  background-color: var(--color-black);
  color: var(--color-yellow);
  font-weight: 900;
  font-size: 18px;
}
.chart-table-wrapper .chart-table__head .chart-table__col {
  padding: 12px 12px;
}
.chart-table-wrapper .chart-table__body {
  counter-reset: rowNumber;
}
.chart-table-wrapper .chart-table__body .chart-table__row {
  counter-increment: rowNumber;
  border-bottom: 1px solid var(--color-black);
}
.chart-table-wrapper .chart-table__body .chart-table__row:last-child {
  border-bottom: none;
}
.chart-table-wrapper .chart-table__body .chart-table__row .chart-table__col {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  vertical-align: middle;
  text-align: left;
}
.chart-table-wrapper .chart-table__body .chart-table__row .chart-table__col--place {
  width: 80px;
  text-align: center;
}
.chart-table-wrapper .chart-table__body .chart-table__row .chart-table__col--place::before {
  content: counter(rowNumber) ".";
}

.belten__logo {
  width: 100%;
  overflow: hidden;
}
.belten__desc {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-align: justify;
  padding-top: 10px;
  -moz-column-fill: balance;
       column-fill: balance;
}
.belten__desc img {
  float: left;
  width: 250px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -10px;
  margin-bottom: 10px;
  border: 10px solid #fe0000;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.belten__desc p {
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.album-block {
  width: 100%;
  margin-top: 20px;
}
.album-block__header {
  margin-inline: 30px;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 900;
  color: var(--color-yellow);
  background-color: var(--color-red);
  border: 3px solid var(--color-yellow);
  border-radius: 90px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.album-block .album-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
}
.album-block .album-table__cell, .album-block .album-table__head {
  padding: 10px 15px;
  text-align: left;
}
.album-block .album-table__head {
  background-color: var(--color-red);
  color: var(--color-yellow);
  font-size: 16px;
  text-transform: uppercase;
}
.album-block .album-table__row:nth-child(odd) {
  background-color: transparent;
}
.album-block .album-table__row:nth-child(even) {
  background-color: #ffa33b;
  border-top: 3px solid var(--color-red);
  border-bottom: 3px solid var(--color-red);
}
.album-block .album-table__position {
  width: 30px;
  font-weight: bold;
}
.album-block .album-table__artist {
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.album-block .album-table__track {
  font-style: italic;
}

.album-block {
  display: flex;
  flex-direction: column;
  flex: 1; /* займёт всё доступное пространство по вертикали */
  width: 100%;
  margin-top: 20px;
}/*# sourceMappingURL=diary.css.map */