.riddle__box-words {
    border: 2px solid #9c9c9c;
    padding-inline: 10px;
    margin-bottom: 10px;
}

.riddle__box-words ol {
    color: var(--color-dark-blue);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
