@font-face {
  font-family: 'UraBumBumSP';
  src: url('../fronts/UraBumBumSP.otf') format('opentype');
  font-style: normal;
}

:root {
  --color-black: #000000;
  --color-dark-blue: #26315b;
  --color-yellow: #fde803;
  --color-red: #ff0000;
  --color-orange: #ffa33b;
  --color-light-blue: #9fc0d3;
  --color-text-dark: #333333;
  
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1.25rem;
  --border-radius-lg: 2rem;
  --border-radius-xl: 5.625rem; 

  --font-family-base: 'Akrobat', sans-serif;
  --font-family-diary__marta: 'UraBumBumSP', sans-serif

  
}

