.album-block {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    margin-inline: 1.875rem;
    padding: 0.75rem 1.563rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--color-yellow);
    background-color: var(--color-red);
    border: 3px solid var(--color-yellow);
    border-radius: var(--border-radius-xl);
    margin-bottom: 1.25rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .album-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 600;

    &__cell,
    &__head {
      padding: 10px 15px;
      text-align: left;
    }

    &__head {
      background-color: var(--color-red);
      color: var(--color-yellow);
      font-size: 1rem;
      text-transform: uppercase;
    }

    &__row:nth-child(odd) {
      background-color: transparent;
    }

    &__row:nth-child(even) {
      background-color: var(--color-orange);
      border-top: 3px solid var(--color-red);
      border-bottom: 3px solid var(--color-red);
    }

    &__position {
      width: 1.875rem;
      font-weight: bold;
    }

    &__artist {
      font-weight: bold;
      text-shadow: 1px 1px 0 #00000033;
    }

    &__track {
      font-style: italic;
    }
  }
}


