.belten {
    &__logo {
        width: 100%;
        overflow: hidden;
    }

    &__desc {
        column-count: 2;
        column-gap: 1.25rem;
        text-align: justify;
        padding-top: 0.625rem;
        column-fill: balance;

        img {
            float: left;
            width: 250px;
            height: 280px;
            object-fit: cover;
            margin-top: -10px;
            margin-bottom: 10px;
            border: 10px solid #fe0000; 
            border-bottom-left-radius: 35px;
            border-bottom-right-radius: 35px;
        }

        p {
            margin: 10px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
        }
    }
}

