.page_navigation {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  z-index: 1000;
}

.page_navigation-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s ease;
}

.page_navigation-button:hover {
  background-color: #222;
}

.page_navigation-info {
  align-self: center;
  font-weight: bold;
  font-family: monospace;
}
