.page__radio {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;

  &-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 5px solid var(--color-red);
  }

  &-right {
    width: 50%;
    background: #FFA33B;
    background: linear-gradient(12deg, #ffa33b 0%, #ff0000 45%, var(--color-yellow) 70%);

  }

    .playlist {
      flex: 1;
  }
}


