.page__radio {
  height: auto;        /* пусть контент сам задаёт высоту */
  min-height: 100%;    /* если нужно, чтобы минимум совпадал с родителем */
  display: flex;
  flex-direction: row;

  &-left {
    width: 50%;
    margin-right: 10px;
  }

  &-right {
    width: 50%;
    background: linear-gradient(to bottom, #ffffff, #fcf399, #fcf397);

  }
}

.page__radio-left {
  display: flex;
  flex-direction: column;

  .playlist {
    flex: 1;
  }
}


