.diary__page {
  display: flex;
  flex-direction: column;
  border-right: 4px solid #0000005b;
  border-top: 2px solid #363636b0;

  &:last-child {
    border-right: none;
  }

  &-date {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.625rem 0 0.5rem;
    color: transparent;
  }

  &-img {
    &--portrait {
      padding: 0.47rem;
      margin: 2.5rem;
    }

    &--rotate-left {
      transform: rotate(-20deg);
    }

    &--rotate-right {
      transform: rotate(5deg);
    }
  }

  &-ad {
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &-entry-wrap {
    overflow: hidden;      
    margin-bottom: 2rem;

    img {
      float: right;        
      margin: 0 0 1rem 1rem;

    }
  }
}



.diary {
  text-indent: 2rem;
  margin-bottom: 20px;
}
