.playlist {
  background-color: var(--color-yellow);
}


.chart {
  color: var(--color-black);
  padding: 0.938rem;
  
  &__header {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }

  &-table {
    text-align: left;
  }

  &-table-wrapper {
    border: 3px solid var(--color-black);
    cursor: pointer;


    .chart-table {
      width: 100%;
      border-collapse: collapse;

      &__head {
        background-color: var(--color-black);
        color: var(--color-yellow);
        font-size: 1.125rem;

        .chart-table__col {
          padding: 12px 12px; 
        }
      }

      &__body {
        counter-reset: rowNumber;

        .chart-table__row {
          counter-increment: rowNumber;
          border-bottom: 1px solid var(--color-black);


          &:last-child {
            border-bottom: none;
          }

          .chart-table__col {
            padding: 10px 12px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            vertical-align: middle;
            text-align: left;

            &--place {
              width: 80px;
              text-align: center;

              &::before {
                content: counter(rowNumber) ".";
              }
            }
          }
        }
      }
    }
  }
}
