.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.review-card {
  border-bottom-left-radius: 1.563rem;
  border-bottom-right-radius: 1.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffdf2e;
}

.review-card:nth-child(even) {
  background-color: var(--color-light-blue);
}

.review-card__header {
  background-color: var(--color-dark-blue);
  color: var(--color-yellow);
  padding: 0.313rem;
  justify-content: space-between;
  flex-shrink: 0;
  text-align: center;
  font-weight: 900;
}

.review-card__content {
  padding: 0.5rem;
  font-size: 0.75rem;
  flex-grow: 1;
  overflow: visible;
  line-height: 1.7;
  font-weight: 600;
}

.review-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 40px solid transparent;
  border-image: url('/diary/img/frame1.png') 40 round;
  border-radius: 45px;
}

.review-card:nth-child(even) .review-card__image {
  border-image: url('/diary/img/frame2.png') 40 round;
}