.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}

.review-card {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  background-color: #9fc0d3;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: var(--color-dark-blue);
    color: var(--color-yellow);
    padding: 5px;
    justify-content: space-between;
    flex-shrink: 0;
    text-align: center;
    font-weight: 900;
    
  }

  &__content {
    padding: 8px;
    font-size: 12px;
    flex-grow: 1;
    overflow: visible;
    line-height: 1.7;
    font-weight: 600;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
  }
}